<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="7.0.1" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.6" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter" version="1.9.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="1.9.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="1.9.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Distribute" version="1.9.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.1" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinios10" />
  <package id="Refractored.MvvmHelpers" version="1.3.0" targetFramework="xamarinios10" />
  <package id="Splat" version="5.0.2" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Xamanimation" version="1.2.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="0.10.0-preview" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.3.840" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.3.840" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.2.0.839982" targetFramework="xamarinios10" />
</packages>