<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.5.1" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.AppCenter" version="1.6.0" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.AppCenter.Analytics" version="1.6.0" targetFramework="portable46-net451+win81" />
  <package id="Microsoft.AppCenter.Crashes" version="1.6.0" targetFramework="portable46-net451+win81" />
  <package id="Splat" version="2.0.0" targetFramework="portable46-net451+win81" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="portable46-net451+win81" />
  <package id="Xamanimation" version="1.0.0" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.FFImageLoading" version="2.2.20" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.20" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.Forms" version="2.4.0.18342" targetFramework="portable46-net451+win81" />
</packages>